
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;

}
header{
   grid-row: 1/2;
    grid-column: 1 /5;
    background-color: #264653;
}
aside{
    grid-row: 2/4;
    grid-column: 1/5;
    background-color: #e9c46a;
}
main{
grid-row: 4/6;
grid-column: 1/5;
    background-color: #14213d;
}
nav{
grid-row: 6/8;
    grid-column: 1/5;
    background-color: #2a9d8f;
}
footer{
    grid-row: 8/9;
    grid-column: 1/5;
    background-color: #264653;
}


@media (min-width: 800px) {
    #container{
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(4, 1fr);

        
    }
    header{
        grid-row: 1/2;
        grid-column: 1/5;
    }
    aside{
        grid-row: 2/8;
        grid-column: 1/2;
    }
    main{
        grid-row: 2/8;
        grid-column: 2/4;
    }
    nav{
        grid-row: 2/8;
        grid-column: 4/5;
    }
    footer{
        grid-row: 8/9;
        grid-column: 1/5;
    }
}
